__pycache__/
*.pyc
*.pyo
.DS_Store

logs/
output/
wandb/

train_ckpt_*/
train_ckpt_1D/
train_ckpt_1D_f/
train_ckpt_3D/
train_ckpt_3D_f/
train_ckpt_5D/
train_ckpt_5D_f/
train_ckpt_compos/
train_ckpt_compos_f/

save_prompts_1D/
save_prompts_1D_f/
save_prompts_3D/
save_prompts_3D_f/
save_prompts_5D/
save_prompts_5D_f/
save_prompts_compos/
save_prompts_compos_f/
